@model RealEstateExample.ViewModels.ListingPhotographEditViewModel
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.ListingPhotograph.Id</title>
</head>
<body>
    <div>
        <p>Attempt to delete record @Model.ListingPhotograph.Id failed.</p>
    </div>
</body>
</html>
