@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  
</address>

<address>

</address>


@section scripts
{
    <script>
        // $(#customers".on("click",".js-delete",function() {
        // var button = $(this);
        //});

        /*
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
//               $.ajax({
            //        url: "",
                //    method: "delete",
                //    success: function () {
                 //   button.parents("tr").removeAll();
               // })
            }
        });
        */

        toastr.success("Success Toast");
        toastr.error("Error Toast");
    </script>
}