@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real Estate Example</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut enim enim. Fusce vehicula turpis a dictum ullamcorper. Cras interdum est sed magna porttitor consequat. Sed lobortis sem in orci dignissim auctor. Cras consequat diam nibh.</p>
    <p><a href="http://test.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test A</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut enim enim. Fusce vehicula turpis a dictum ullamcorper. Cras interdum est sed magna porttitor consequat. Sed lobortis sem in orci dignissim auctor. Cras consequat diam nibh.
        </p>
        <p><a class="btn btn-default" href="http://test.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test B</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut enim enim. Fusce vehicula turpis a dictum ullamcorper. Cras interdum est sed magna porttitor consequat. Sed lobortis sem in orci dignissim auctor. Cras consequat diam nibh.</p>
        <p><a class="btn btn-default" href="http://test.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test C</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut enim enim. Fusce vehicula turpis a dictum ullamcorper. Cras interdum est sed magna porttitor consequat. Sed lobortis sem in orci dignissim auctor. Cras consequat diam nibh.</p>
        <p><a class="btn btn-default" href="http://test.com">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts
{
    <script>
        // $(#customers".on("click",".js-delete",function() {
        // var button = $(this);
        //});

        /*
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
//               $.ajax({
            //        url: "",
                //    method: "delete",
                //    success: function () {
                 //   button.parents("tr").removeAll();
               // })
            }
        });
        */

    </script>
    }