@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real Estate Example</h1>
    <p class="lead">
        <i>Create an account and log in to edit/delete records.</i>
    </p>
    <hr />
    <p>
        This is a simple CRUD Example in .NET C# using an Entity Framework Code-First DB.
    </p>
    <p>
        The only interesting thing is it is my first .NET MVC C# app since I did a fairly cold start of learning C# two weeks ago.
    </p>
    <p>
        Note: I could have added AJAX to the form handling but this was a test to learn C#, .NET, MVC and EF, etc, not spend time writing Javascript. That's for another DOTNET project.
    </p>
    <p>
        Posted as an example.
    </p>
    <p><a href="http://test.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test A</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut enim enim. Fusce vehicula turpis a dictum ullamcorper. Cras interdum est sed magna porttitor consequat. Sed lobortis sem in orci dignissim auctor. Cras consequat diam nibh.
        </p>
        <p><a class="btn btn-default" href="http://test.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test B</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut enim enim. Fusce vehicula turpis a dictum ullamcorper. Cras interdum est sed magna porttitor consequat. Sed lobortis sem in orci dignissim auctor. Cras consequat diam nibh.</p>
        <p><a class="btn btn-default" href="http://test.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test C</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut enim enim. Fusce vehicula turpis a dictum ullamcorper. Cras interdum est sed magna porttitor consequat. Sed lobortis sem in orci dignissim auctor. Cras consequat diam nibh.</p>
        <p><a class="btn btn-default" href="http://test.com">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts
{
    <script>
    </script>
}