@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.id</title>
</head>
<body>
    <div>
        <p>Attempt to delete record @Model.id failed.</p>
    </div>
</body>
</html>
